<ul>
    <li><a href="https://forms.gle/J5tkKYpqaSkE6vA4A" target="_blank">Feedback form <i class="fab fa-comments"></i></a></li>
    <li><a href="https://www.linkedin.com/in/ivica-kolenka%C5%A1-8b333895/" target="_blank">LinkedIn <i class="fab fa-linkedin"></i></a></li>
    <li><a href="https://www.twitter.com/nekybrate" target="_blank">Twitter <i class="fab fa-twitter"></i></a></li>
    <li><a href="https://www.github.com/ivica-k" target="_blank">Github <i class="fab fa-github"></i></a></li>
</ul>
